@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Comfortaa';
    gap: 25px;
    background-color: #F1F5F9;
}

header {
    font-size: 50px;
    font: bold;
}

#board-container {
    display: grid;
    grid-template-columns: repeat(3, 125px);
    grid-template-rows: repeat(3, 125px);
    border: 2px solid #9B4F96;
}

.grid-box {
    display: flex;
    background-color: white;
    border: 1px solid #9B4F96;
    font-size: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka One';
    cursor: pointer;
}

.game-end {
    display: none;
    background-color: white;
    font-family: 'Poppins';
    flex-direction: column;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    width: 355px;
    cursor: pointer;
    padding: 10px;
}

.game-result {
    font-weight: 700;
    font-size: 32px;
}

.replay-text {
    font-weight: 400;
    font-size: 18px;
}